.ColorInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ColorInputLabel {
  width: 100%;
  height: 54px;
  border: 1px solid var(--md-sys-color-on-background);
  border-radius: 4px;
  cursor: pointer;
}

.ColorInputInput {
  display: none;
}
