.Danger {
  --md-elevated-button-container-color: var(--md-sys-color-error-container);
  --md-elevated-button-label-text-color: var(--md-sys-color-error);

  --md-filled-button-container-color: var(--md-sys-color-error);
  --md-filled-button-label-text-color: var(--md-sys-color-error-container);

  --md-outlined-button-outline-color: var(--md-sys-color-error);
  --md-outlined-button-label-text-color: var(--md-sys-color-error);
  --md-outlined-button-hover-label-text-color: var(--md-sys-color-error);

  --md-text-button-label-text-color: var(--md-sys-color-error);
}

.Square {
  --md-elevated-button-container-shape: 4px;
  --md-filled-button-container-shape: 4px;
  --md-outlined-button-container-shape: 4px;
}

.Wide {
  width: 100%;
}

.Small {
  // height: 32px;
  // min-height: 20px;
  padding-block: 9px;
  padding-inline: 22px;
}
