.Section {
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

.Bordered {
  margin: 8px;
  border: 1px solid var(--md-sys-color-on-background);
  border-radius: 8px;
}

.Active {
  @extend .Bordered;
  border-color: var(--active-content-color);
}

.Danger {
  @extend .Bordered;
  border-color: var(--md-sys-color-error);
}

.Warn {
  @extend .Bordered;
  border-color: var(--warning-content-color);
}

.Flat {
  padding-top: 0;
  padding-bottom: 0;
}

.Padded {
  padding-left: 3rem;
  padding-right: 3rem;
}

.Narrow {
  padding-left: 0;
  padding-right: 0;
}

.Centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}
