html {
  font-family: "Roboto", "Noto Sans", Arial, Helvetica, sans-serif;

  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.font-display {
  font: normal normal 400 36px "Noto Sans";
}

.font-headline {
  font: normal normal 400 24px "Noto Sans";
}

.font-title {
  font: normal normal 400 20px "Noto Sans";
}

.font-label {
  font: normal normal 500 14px "Roboto";
}

.font-body {
  font: normal normal 400 14px "Roboto";
}

.font-detail {
  font: normal normal 400 12px "Roboto";
}
